@font-face {
    font-family: "Commissioner";
    src: url("../fonts/Commissioner.ttf") format('truetype');
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.ttf") format('truetype');
}

@font-face {
    font-family: "Mukta";
    src: url("../fonts/Mukta.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans.ttf") format('truetype');
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins.ttf") format('truetype');
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand.ttf") format('truetype');
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoMono";
    src: url("../fonts/RobotoMono.ttf") format('truetype');
}

@font-face {
    font-family: "SourceCodePro";
    src: url("../fonts/SourceCodePro.ttf") format('truetype');
}

@font-face {
    font-family: "InterVar";
    src: url("../fonts/InterVar.ttf") format('woff2 supports variations'),
         url("../fonts/InterVar.ttf") format('woff2-variations');
    font-weight: 100 900;
    font-stretch: 25% 151%;
}